<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./stylesheets/login.css">
    <title>BC Student Portal - Login</title>
</head>
<body>
    <div id="main_container">
        <section id="input_container">
            <h1>Login</h1>
            <form action="/" method="POST">
                <input type="email" placeholder="Email">
                <input type="password" placeholder="Password">
                <button type="submit">Login</button>
            </form>
        </section>
    </div>
</body>
</html>