<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./stylesheets/student.css">
    <title>BC Student Portal - Student</title>
</head>

<body>
    <div id="main_container">
        <div id="bg_left" class="bg"></div>
        <div id="bg_right" class="bg"></div>
        <section id="data">
            <h1 th:text="'Welcome, '+ ${name}"/>
            <form id="user_info" action="/">
                <!-- Placeholders are temporary dummy values -->
                <label for="" class="user_label">Name:</label>
                <input type="text" class="user_input" disabled placeholder="John" >
                <label for="" class="user_label">Surname:</label>
                <input type="text" class="user_input" disabled placeholder="Doe" >
                <label for="" class="user_label">Address:</label>
                <input type="text" class="user_input" disabled placeholder="37 Abbot Ave, Pretoria">
                <label for="" class="user_label">Email:</label>
                <input type="text" class="user_input" disabled placeholder="343@student.belgiumcampus.ac.za">
                <label for="" class="user_label">Password:</label>
                <input type="password" class="user_input" disabled placeholder="*******">
                <button id="back">DONE</button>
            </section>
        </section>
    </div>
</body>

</html>