*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: sans-serif;
}

::-webkit-scrollbar{
    width: 20px;
}
::-webkit-scrollbar-track {
    border-left: 1px solid #F9E400;
}
::-webkit-scrollbar-thumb {
    background-color: #F9E40090;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #F9E400;
}

html{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: black;
}
body{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
#main_container{
    width: 100%;
    height: 100%;
    background-color: black;
    overflow: hidden;
    color: white;

    display: grid;
    grid-template-columns: 1fr 3fr;
    column-gap: 10px;
}
#bg_left{
    background-image: url("../images/bg_stripe.png");
    height: 100%;
    width: 423px;
    background-size: cover;
    background-position: left;
}
#input_container{
    display: grid;
    grid-template-rows: 1fr 1fr 7fr;
}
h1{
    width: 100%;
    text-align: right;
    padding: 5px;
    font-size: 36px;
}
#search_container{
    width: 50%;

}
#search_container label{
    margin-right: 15px;
}
#search_container input{
    color: white;
    background-color: rgba(255,255,255,.2);
    padding: 10px;
    border: none;
}
#search_container input:focus{
    outline: none;
    background-color: rgba(255,255,255,.5);
}
#search_container button{
    background-color: transparent;
    border: 3px solid #F9E400;
    border-radius: 50%;
    margin-left: 15px;
    transition: all .08s ease;
}
#search_container button:hover{
    transform: scale(1.5);
    
}
#form{
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 9fr;
}
#form #titles{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    column-gap: 10px;
    /* align-content: baseline; */
}
#titles span{
    height: 100%;
}
#data{
    height: 100%;
    overflow-y: scroll;
}

#data section{
    width: 100%;
    height: 6%;
    display: grid;
    grid-template-columns: repeat(7,1fr);
    column-gap: 10px;
    background-color: rgba(255,255,255,.2);
    align-items: center;
}
#data section:nth-child(2n){
    background-color: rgba(255, 0, 0, 0.5);
}
#data section input{
    height: 100%;
    width: 95%;
    background-color: transparent;
    border: none;
    color: white;
    display: flex;
}
#data section input:focus{
    outline: 1px solid #F9E400;
}
#back{
    position: absolute; 
    top:0;
    left:0;
    background-color: transparent;
    padding: 10px;
    font-size: 22px;
    border: 2px solid white;
    color: white;
    transition: all .1s ease;
}
#back:hover{
    cursor: pointer;
    background-color: white;
    color: #c20200;
}
.update{
    width: 90%;
    margin: auto;
    background-color: transparent;
    border: 1px solid #F9E400;
    box-shadow: inset 0 0 0 -10px #F9E400;
    transition: all .2s ease;
}
.update:hover{
    box-shadow: inset 0 0 0 10px #F9E400;
    border-radius: 15px;
}
#add{
    color: white;
    width: 90%;
    margin: auto;
    background-color: transparent;
    font-weight: bolder;
    border: 1px solid green;
    box-shadow: inset 0 0 0 -10px green;
    transition: all .2s ease;
}
#add:hover{
    box-shadow: inset 0 0 0 10px green;
    border-radius: 15px;
}

/* Media queries */
@media screen and (max-width:1020px) {
    #bg_left{
        width: 249px;
    }
}
@media screen and (max-width:840px) {
    #main_container{
        grid-template-columns: .5fr 3fr;
    }
    #bg_left{
        width: 122px;
    }
}
@media screen and (max-width: 580px){
    #main_container{
        grid-template-columns: none;
    }
    #bg_left{
        display: none;
    }
}