<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./stylesheets/admin.css">
    <title>BC Student Portal - Admin</title>
</head>

<body>
    <div id="main_container">
        <button id="back">Back</button>
        <div id="bg_left" class="bg"></div>
        <section id="input_container">
            <h1>Admin</h1>
            <div id="search_container">
                <label for="">Search</label><input type="text" placeholder="e.g. 6771"><button>🔍</button>
            </div>
            <section id="form">
                <div id="titles">
                    <span class="title">Name:</span>
                    <span class="title">Surname:</span>
                    <span class="title">Address:</span>
                    <span class="title">Email:</span>
                    <span class="title">Course Name:</span>
                </div>
                <div id="data">
                    <section th:each="stud:${students}">
                        <input th:value="${stud.getString('name').substring(0,stud.getString('name').indexOf(' '))}">
                        <input th:value="${stud.getString('name').substring(stud.getString('name').indexOf(' '))}">
                        <input th:value="${stud.getString('address')}">
                        <input th:value="${stud.get('email')}" th:id="${stud.get('email')}">
                        <input>
                        <button class="update">✔️</button>
                    </section>
                </div>
            </section>
        </section>
    </div>
    <script>
        window.addEventListener("DOMContentLoaded", () => {
            document.getElementById("back").addEventListener("click", () => {
                window.location = '/'; //routing use to login
            })
            let btnsUpdate = document.getElementsByClassName("update");

            for (let i = 0; i < btnsUpdate.length; i++) {
                //add event listener that makes update request
                btnsUpdate[i].addEventListener("click", () => {
                    //post data
                    //access all sibling data
                    let siblings = [].slice.call(btnsUpdate[i].parentElement.childNodes);
                    siblings = siblings.filter(item => item.localName == "input");
                    const requestOptions = {
                        method: 'PUT',
                        headers: { 'Content-Type': 'application/json' },
                        body: JSON.stringify({ "student_name": (siblings[0].value + siblings[1].value), "student_address": siblings[2].value, "student_email": siblings[3].id, "email": siblings[3].id })
                    };
                    fetch('http://localhost:8080/api/students/update', requestOptions)
                        .then(response => {
                            alert("User updated"); //can change
                        });//show updated record if we want
                })

                //SPEAK ABOUT CHANGING EMAIL
            }
        })
    </script>
</body>

</html>