<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./stylesheets/index.css">
    <title>BC Student Portal - Login</title>
</head>
<body>
    <div id="main_container">
        <div class="bg" id="bg_top"></div>
        <div class="bg" id="bg_bottom"></div>
        <section id="input_container">
            <h1>Login</h1>
            <form action="/" method="POST">
                <input type="email" placeholder="Email">
                <input type="password" placeholder="Password">
                <button type="submit">Login</button>
            </form>
        </section>
    </div>
    <Script>
        document.addEventListener("DOMContentLoaded",()=>{
            document.getElementById('submit').addEventListener('click',()=>{
                //use fetch to get data and then route if we can
                
            })
        })
    </Script>
</body>
</html>